<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados - Athena Shop</title>

    <link rel="stylesheet" href="css/user_dados.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/carrinholateral.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
</head>

<body>

    <header>
        <a href="/">
            <picture>
                <source media="(max-width: 390px)" srcset="img/logo-icon.png">
                <source media="(max-width: 479px)" srcset="img/logo-icon.png">
                <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
            </picture>
        </a>
        <input type="search" name="" id="search-bar-header" placeholder="Pesquisar...">
        <i class='bx bx-cart' id="cart-icon"></i>
        <a href="/usuario"><i class='bx bxs-user-circle' id="profile-user"></i></a>
    </header>

    <main>

        <h1>Dados da dados</h1>

        <section>



            <div class="img-view">
                <img src="<%=autenticado.img_usuario%>" alt="foto de perfil">
            </div>

            <div class="email-x">
                <label for="">Nome</label>
                <span>
                    <%=autenticado.autenticado%>
                </span>
            </div>

            <div class="nome-x">
                <label for="">E-mail</label>
                <span>
                    <%=autenticado.email%>
                </span>
            </div>

            <div class="cpf-x">
                <label for="">Cpf</label>
                <span>
                    <%=autenticado.cpf%>
                </span>
                <script>
                    $('#cpf').mask('000.000.000-00', { reverse: true });
                </script>
            </div>

            <div class="tel-x">
                <label for="">Telefone</label>
                <span>
                    <%=autenticado.telefone%>
                </span>
                <!-- <input type="text" name="telefone" id="phone" placeholder="<%=autenticado.telefone%>" autocomplete="off"> -->
                <script>
                    $('#phone').mask('(00) 00000-0000');
                </script>
            </div>

        </section>

        <h1>Atualizar dados</h1>

        <section class="sec-att">


            <div class="email-att">
                <form action="/at" method="post">
                    <label for="">E-mail:</label>
                    <input type="text" name="telefone" id="phone" autocomplete="off">
                    <button>Alterar</button>
                </form>
                </form>
            </div>



            <div class="senha-att">
                <form action="/at" method="post">
                    <label for="">Senha:</label>
                    <input type="text" name="telefone" id="phone" autocomplete="off">
                    <button>Alterar</button>
                </form>
            </div>

            <div class="cpf-att">
                <form action="/at" method="post">
                    <label for="">Cpf:</label>
                    <input type="text" name="telefone" id="phone" autocomplete="off">
                    <button>Alterar</button>
                </form>
            </div>

            <div class="tel-att">
                <form action="/at" method="post">
                    <label for="">Telefone:</label>
                    <input type="text" name="telefone" id="phone" autocomplete="off">
                    <button>Alterar</button>
                </form>
            </div>

        </section>

    </main>

    <footer>

        <section class="footer1">
            <p><a href="" class="p4">Trabalhe conosco</a></p>
            <p><a href="/politica">Politica de Privacidade</a></p>
            <p><a href="/termos">Termos de Uso</a></p>
        </section>

        <section class="footer2">
            <p><a href="/contato" class="p4">Contato</a></p>
            <p><a href="" class="p4">Informações sobre seguro</a></p>
            <p>
                <a href="/adm">Administrador</a>
            </p>
        </section>
    </footer>

</body>

</html>