<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados - Athena Shop</title>

    <link rel="stylesheet" href="css/user_dados.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/carrinholateral.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
</head>

<body>

    <header>
        <a href="/">
            <picture>
                <source media="(max-width: 390px)" srcset="img/logo-icon.png">
                <source media="(max-width: 479px)" srcset="img/logo-icon.png">
                <img src="img/logo-letreiro.png" alt="logo-athena" class="logo-athena">
            </picture>
        </a>
        <input type="search" name="" id="search-bar-header" placeholder="Pesquisar...">
        <i class='bx bx-cart' id="cart-icon"></i>
        <a href="/usuario"><i class='bx bxs-user-circle' id="profile-user"></i></a>
    </header>

    <main>
        <div id="perfil">
            <form action="/perfil" method="post" enctype="multipart/form-data">
                <h1>Meu Perfil</h1>
                <p>
                    <input type="text" name="nome" id="nome" placeholder="Nome" value="<%= autenticado.autenticado %>" /> 
                   
                </p>
                <p>
                    <input type="text" name="email" id="email" placeholder="E-mail" value="<%= autenticado.email %>" /> 
                    
                </p>
                <p>
                    <input type="text" name="cpf" id="cpf" placeholder="CPF" value="<%= autenticado.cpf %>"/> 
                </p>
                <p>
                    <input type="text" name="telefone" id="telefone" placeholder="Telefone" value="<%= autenticado.telefone %>" /> 
                </p>
                <p>
                    <input type="file" name="img_usuario" id="img_usuario" onchange="loadImg()">
                    <img class="img-perfil"  id="img-preview" src="<%= autenticado.img_usuario %>">
                </p>
                <p>
                    <input type="password" name="senha" id="senha" placeholder="senha de Usuario">
                    <span class="aviso">Não preencha este campo para manter a senha atual</span>
                </p>
                <p>
                    <input type="submit" value="Alterar dados perfil" />
                </p>
            </form>

        </div>

    </main>
</body>
     
    </main>

    <footer>

        <section class="footer1">
            <p><a href="" class="p4">Trabalhe conosco</a></p>
            <p><a href="/politica">Politica de Privacidade</a></p>
            <p><a href="/termos">Termos de Uso</a></p>
        </section>

        <section class="footer2">
            <p><a href="/contato" class="p4">Contato</a></p>
            <p><a href="" class="p4">Informações sobre seguro</a></p>
            <p>
                <a href="/adm">Administrador</a>
            </p>
        </section>
    </footer>

</body>

</html>